.card-list {
    display: grid;
    gap: 30px;
    margin: 20px auto;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.card-list.is-visible {
    opacity: 1;
    transform: translateY(0);
}

.card {
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #eee;
    padding: 30px;
    align-items: center;
    text-align: center;
}

.image {
    display: flex;
    justify-content: center;
}

.icon {
    display: inline-block;
    background-color: #0d6efd;
    border-radius: 50px;
}

.icon img {
    padding: 20px;
}

@media (max-width: 400px) {

    .card-list {
        grid-template-columns: 1fr;
    }
}