.container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    gap: 20px;
    margin-bottom: 50px;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.container.is-visible {
    opacity: 1;
    transform: translateY(0);
}

.first-column {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.second-column {
    position: relative;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.image {
    max-width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 1;
}

.image-text {
    position: relative;
    color: white;
    text-align: center;
    padding: 50px;
    border-radius: 8px;
    font-size: 1.2em;
    z-index: 3;
}

.image-text h2 {
    font-size: 1em;
}

.image-text p {
    font-size: .8em;
}

@media (min-width: 600px) {

    .image-text {
        padding: 100px;
    }

    .image-text h2 {
        font-size: 1.8em;
    }

    .image-text p {
        font-size: 1em;
    }
}

@media (min-width: 768px) {

    .container {
        grid-template-columns: 1fr 1fr;
    }

    .second-column {
        grid-column: 2 / 3;
        height: 100%;
    }

    .image-text {
        padding: 70px;
    }

    .image-text h2 {
        font-size: 1.1em;
    }

    .image-text p {
        font-size: .6em;
    }
}