<div class="container" [class.is-visible]="isVisible">

    <div class="first-column">
        <div>
            <h1>About Us</h1>
            <br />
            <p>We are the UK's leading supplier of road fuel and are growing internationally.</p>
        </div>
        <div>
            <h2>This is our 27th year in business.</h2>
            <br />
            <p>We have grown from a bedroom start-up in 1992 to become
                the UK's only national fuel supplier. We are now building on
                our UK experience to grow internationally.</p>
        </div>
    </div>

    <div class="second-column">
        <img src="iconic/images/shap-a.png" class="image">

        <div class="image-text">
            <h2>Our strategy</h2>
            <br />
            <p>By being the fuel supplier with the
                lowest cost and the highest service
                levels, we aim to earn the loyalty of
                existing customers.</p>
        </div>
    </div>

</div>