<div class="about" [class.is-visible]="isVisible" (appVisibilityObserver)="handleVisibilityChange($event)">
    <div class="header">
        <div>
            <h2>Lorem Ipsum is simply dummy text printing industry.</h2>
        </div>
    </div>
    <br />
    <div class="card">
        <div class="message">
            <h2>Lorem Ipsum is simply</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                and scrambled it to make a type specimen book. It has survived not only five centuries,</p>
        </div>
        <div class="card-image">
            <img src="iconic/images/image_about_right.jpg">
        </div>
    </div>
</div>