<header class="menu-header">

    <nav class="nav-bar">

        <a [href]="getPathByLabel('home')" class="logo-desktop">
            <img [src]="logoUrl" alt="Logo">
        </a>

        <button class="hamburger-btn" (click)="toggleMenu()" aria-label="Open Menu">
            <span [class.open]="isMenuOpen"></span>
            <span [class.open]="isMenuOpen"></span>
            <span [class.open]="isMenuOpen"></span>
        </button>

        <ul class="menu-list" [class.active]="isMenuOpen">
            <li class="logo-mobile-item">
                <a [href]="getPathByLabel('home')">
                    <img [src]="logoUrl" alt="Logo">
                </a>
            </li>

            <li *ngFor="let item of menuItems" class="menu-item">
                <a [routerLink]="item.path" (click)="toggleMenu()">{{ item.label }}</a>
            </li>
        </ul>

    </nav>

</header>