.team-member-list {
    display: grid;
    gap: 30px;
    margin: 20px auto;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.team-member-list.is-visible {
    opacity: 1;
    transform: translateY(0);
}

.card {
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #eee;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

.card img {
    width: 100%;
}

.personal-data {
    display: flex;
    margin: 20px;
    gap: 20px;
}

.identification {
    text-align: left;
}

.social-media {
    display: flex;
    gap: 10px;
    align-items: center;
}

.social-media a {
    font-size: 16px;
    color: black;
    text-decoration: none;
}