<div class="menu-background">
    <app-menu1 [logoUrl]="logoUrl" [menuItems]="menuItems"></app-menu1>
    <div class="main-message">
        <h2>End-to-End Customer Journey Analytics</h2>
        <br />
        <p>No hours sank into aggregating and cleaning data. No complex SQL queries required. Just the answers
            teams need to make smarter decisions, fast. Now, that's data-driven.</p>
        <br />
        <button class="custom-button">GET STARTED FOR FREE</button>
    </div>
</div>
<app-brand1-list></app-brand1-list>
<div class="service-message">
    <h1>Analytics for Product, Marketing, Sales and Support teams</h1>
</div>
<app-service-pitch-card1-list [servicePitchList]="servicePitchList"></app-service-pitch-card1-list>
<app-service-pitch-1></app-service-pitch-1>
<app-service-pitch-2></app-service-pitch-2>
<div class="service-price">
    <h1>Lorem Ipsum is simply dummy text of the printing
        and typesetting industry.</h1>
    <h3>It is a long established fact that a btn btn-defaulter will be distracted by the btn btn-defaultable content of
        a page
        when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
        distribution of letters,</h3>
</div>
<app-pricing-plan-card-list [pricingPlanList]="dadosDasColunas"></app-pricing-plan-card-list>
<app-footer1 [logoUrl]="logoUrl" [menuItems]="menuItems"></app-footer1>