div,
h1,
h2,
h3,
p,
app-service-pitch-card1-list,
app-service-pitch-1,
app-service-pitch-2,
app-pricing-plan-card-list,
app-footer1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.menu-background {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-image:
        linear-gradient(to top right,
            rgba(0, 100, 255, 0.7) 0%,
            rgba(255, 0, 128, 0.7) 50%,
            rgba(255, 0, 128, 0.7) 50%),
        url('/iconic/images/banner-img.jpg');

    background-size: cover;
    background-position: center;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    height: 600px;
}

.main-message {
    color: white;
    text-align: center;
    justify-content: space-around;
    height: 300px;
}

.service-message {
    text-align: center;
}

.service-price {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    margin: 100px;
}