div,
h1,
h2,
h3,
p,
app-service-pitch-card1-list,
app-service-pitch-1,
app-service-pitch-2,
app-pricing-plan-card-list,
app-footer1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.menu-background {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-image:
        linear-gradient(to top right,
            rgba(0, 100, 255, 0.7) 0%,
            rgba(255, 0, 128, 0.7) 50%,
            rgba(255, 0, 128, 0.7) 50%),
        url('/iconic/images/banner-img.jpg');

    background-size: cover;
    background-position: center;
    height: 600px;
}

.main-message {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.main-message-content {
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
    gap: 40px;
    width: 90%;
}

.service-message {
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 50px;
    margin: 100px auto;
    text-align: center;
}

.service-price {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    margin: 100px;
}

.customer-testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px auto;
}

.footer-service-pitch {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 100px;
    gap: 20px;
    padding: 100px;
    background-color: #F4F9FB;
}

.custom-button {
    background-color: #0d6efd;
    border-radius: 30px;
    padding: 20px;
    color: white;
    cursor: pointer;
    border: none;
    font-size: larger;
}

.custom-button:hover {
    background-color: #0b5ed7;
}