.service {
    display: grid;
    gap: 50px;
    width: 90%;
    margin: 100px auto;
    grid-template-columns: 1fr;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.service.is-visible {
    opacity: 1;
    transform: translateY(0);
}

.service-image {
    overflow: hidden;
}

.service-image img {
    object-fit: cover;
    clip-path: polygon(0% 20%,
            75% 0%,
            95% 90%,
            0% 100%);
}

.service-pitch {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.custom-button {
    background-color: #0d6efd;
    border-radius: 30px;
    padding: 20px;
    color: white;
    cursor: pointer;
    border: none;
}

.custom-button:hover {
    background-color: #0b5ed7;
}

@media (min-width: 768px) {

    .service {
        grid-template-columns: 1fr 1fr;
    }
}