<div class="frame">
    <div class="container">
        <div class="header" [class.is-visible]="isVisible" (appVisibilityObserver)="handleVisibilityChange($event)">
            <h1>Contact</h1>
            <p>No hours sank into aggregating and cleaning data. No complex SQL queries required. Just the answers
                teams need to make smarter decisions, fast. Now, that's data-driven.</p>
        </div>
        <app-contact></app-contact>
    </div>
    <div class="map">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11880.492291371422!2d12.4922309!3d41.8902102!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x28f1c82e908503c4!2sColosseo!5e0!3m2!1sit!2sit!4v1524815927977"
            frameborder="0"></iframe>
    </div>
</div>