.card-list {
    display: grid;
    gap: 10px;
    width: 90%;
    margin: 20px auto;
    align-items: flex-end;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.card-list.is-visible {
    opacity: 1;
    transform: translateY(0);
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 8px;
    border: 1px solid #ddd;
    overflow: hidden;
}

.header {
    display: flex;
    gap: 2px;
    color: white;
    padding: 20px;
    justify-content: center;
}

.header h1 {
    font-size: 60px;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 20px;
}

.service-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.main {
    min-height: 450px;
    box-shadow: 0 5px 60px rgba(0, 0, 0, 0.3);
    flex: 1.2;
}

.custom-button {
    background-color: #0d6efd;
    border-radius: 30px;
    padding: 20px;
    color: white;
    cursor: pointer;
    border: none;
}

.custom-button:hover {
    background-color: #0b5ed7;
}

@media (max-width: 400px) {

    .card-list {
        grid-template-columns: 1fr;
    }
}