.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.container h2 {
    color: #4b5563;
}

.controls-container,
.bottom-controls {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 20px;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
}

.items-per-page-selector {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}

.items-per-page-selector label,
.bottom-controls label,
.page-status {
    font-size: 0.875rem;
    font-weight: 500;
    color: #374151;
}

.styled-select {
    padding: 0.5rem;
    border: 1px solid #d1d5db;
    border-radius: 0.5rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    outline: none;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.styled-select:focus {
    border-color: #3b82f6;
    box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.5);
}

.navigation-buttons {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}

.nav-button {
    padding: 0.25rem 0.75rem;
    font-size: 0.875rem;
    font-weight: 500;
    border-radius: 9999px;
    transition: background-color 0.2s, color 0.2s;
    border: none;
    cursor: pointer;
}

.nav-button.active {
    background-color: #2563eb;
    color: white;
}

.nav-button.active:hover {
    background-color: #1d4ed8;
}

.nav-button.disabled {
    background-color: #d1d5db;
    color: #6b7280;
    cursor: not-allowed;
}

.page-status {
    color: #374151;
    font-size: 0.875rem;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    width: 100%;
    gap: 1.5rem;
}

.card-item {
    display: flex;
    flex-direction: column;
    border: 1px solid #e5e7eb;
    border-radius: 0.75rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
    overflow: hidden;
}

.card-item:hover {
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.card-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.post-indicators {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.post-indicators a {
    display: flex;
    gap: 10px;
    align-items: center;
    text-decoration: none;
    font-size: .8rem;
    color: #555 !important;
}

.card-subtitle {
    color: #111827;
    font-weight: 500;
    margin-bottom: 0.25rem;
}

.card-description {
    font-size: 0.875rem;
    color: #4b5563;
}

.bottom-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    flex-direction: row;
    column-gap: 0.5rem;
}

.page-selector-small {
    width: 5rem;
}

.custom-button {
    background-color: #0d6efd;
    border-radius: 30px;
    padding: 20px;
    color: white;
    cursor: pointer;
    border: none;
}

.custom-button:hover {
    background-color: #0b5ed7;
}

@media (min-width: 640px) {

    .controls-container {
        flex-direction: row;
    }

}