div,
h1,
h3,
app-footer1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.menu-background {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-image:
        linear-gradient(to top right,
            rgba(0, 100, 255, 0.7) 0%,
            rgba(255, 0, 128, 0.7) 50%,
            rgba(255, 0, 128, 0.7) 50%),
        url('/iconic/images/banner-img.jpg');

    background-size: cover;
    background-position: center;
    height: 350px;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
}

.footer-service-pitch {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 100px;
    gap: 20px;
    padding: 100px;
    background-color: #F4F9FB;
}

.custom-button {
    background-color: #0d6efd;
    border-radius: 30px;
    padding: 20px;
    color: white;
    cursor: pointer;
    border: none;
    font-size: larger;
}

.custom-button:hover {
    background-color: #0b5ed7;
}