<div class="main">
    <div class="form">
        <h1>Let's Talk about Your Business</h1>
        <input type="text" id="name" placeholder="Name *" class="modern-input-field">
        <div class="email-subject">
            <input type="text" id="email" placeholder="E-mail *" class="modern-input-field">
            <input type="text" id="subject" placeholder="Subject *" class="modern-input-field">
        </div>
        <textarea id="message" placeholder="Message *" class="modern-input-field"></textarea>
        <div>
            <button class="custom-button">SEND MESSAGE</button>
        </div>
    </div>
    <div class="form">
        <h3>Get in Touch</h3>
        <p>Tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
            ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
            velit esse consequat.</p>
        <h3>The Office</h3>
        <div class="contact">
            <i class="fa fa-globe"></i>
            <p>Address: Regina ST, London, SK 8GH.</p>
        </div>
        <div class="contact">
            <i class="fa fa-phone"></i>
            <p>Phone: (+44) 123 456 789</p>
        </div>
        <div class="contact">
            <i class="fa fa-envelope"></i>
            <p>Email: email&#64;youradress.com</p>
        </div>
        <h3>Business Hours</h3>
        <p>- Monday - Friday - 9am to 5pm</p>
        <p>- Saturday - 9am to 2pm</p>
        <p>- Sunday - Closed</p>
    </div>
</div>