.container {
    width: 90%;
    margin: 50px auto;
    overflow: hidden;
}

.wrapper {
    display: flex;
    align-items: center;
}

.wrapper.is-sliding {
    transition: transform 0.5s ease-in-out;
    transform: translateX(-100%);
}

.wrapper:not(.is-sliding) {
    transform: translateX(0);
    transition: none;
}

.testimonial-item {
    flex: 0 0 100%;
    padding: 5px;
    box-sizing: border-box;
    text-align: center;
}

.testimonial-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    padding: 25px;
    gap: 30px;
}

.testimonial-quote {
    font-style: italic;
    font-size: x-large;
    color: #555;
}

.testimonial-stars {
    font-size: 2.5em;
    color: #ccc;
}

.star-icon.filled {
    color: #ffc107;
}

.client-photo-container {
    border-radius: 50%;
    overflow: hidden;
}

.client-photo-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.client-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.client-name {
    margin: 0;
    font-size: 1.5em;
    color: #333;
}

.client-role,
.client-company {
    margin: 0;
    font-size: 1em;
    color: #888;
}