<div class="service" [class.is-visible]="isVisible">
    <div class="service-image">
        <img src="iconic/images/s-left-1.png">
    </div>
    <div class="service-pitch">
        <h1>Optimize Every Touchpoint in the Customer Experience</h1>
        <h2>Analytics to answer any business question.</h2>
        <p>Full-funnel attribution, onboarding optimization, feature usage trends, subscription growth, cohort analysis
            and more. Know exactly what users are doing across touchpoints to increase acquisition, drive engagement and
            improve retention.</p>
        <div>
            <button class="custom-button">LEARN MORE</button>
        </div>
    </div>
</div>