.card {
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #eee;
    padding: 30px;
    align-items: center;
    text-align: center;
}

.image {
    display: flex;
    justify-content: center;
}

.icon {
    display: inline-block;
    background-color: #0d6efd;
    border-radius: 50px;
}

.icon img {
    padding: 20px;
}