.footer {
    display: grid;
    grid-template-columns: 1fr;
    padding: 50px;
    gap: 100px;
    background-color: #0d6efd;
    color: white;
}

.footer-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.redes-sociais a {
    font-size: 24px;
    color: #FFFFFF;
    margin: 0 10px;
    text-decoration: none;
}

.redes-sociais a:hover {
    color: #007bff;
    padding: 4px;
    border-radius: 10px;
    background-color: white;
}

.footer-menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
    align-items: center;
}

.menu-item a {
    color: white;
    text-decoration: none;
}

.contact {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media (min-width: 576px) {

    .footer {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}