.menu-header {
    color: white;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 70px;
}

.logo-mobile-item {
    padding: 10px 0 20px 0;
    border-bottom: 1px solid #444;
}

.hamburger-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 2;
}

.hamburger-btn span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: white;
    border-radius: 2px;
    transition: all 0.3s linear;
    transform-origin: 1px;
}

.hamburger-btn span.open:nth-child(1) {
    transform: rotate(20deg) translate(5px, 2px);
}

.hamburger-btn span.open:nth-child(2) {
    opacity: 0;
}

.hamburger-btn span.open:nth-child(3) {
    transform: rotate(-20deg) translate(5px, -2px);
}

.menu-list {
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #222;
    list-style: none;
    padding: 20px;
    margin: 0;

    opacity: 0;
    transform: translateX(-100%);
    transition: transform 0.4s ease-in-out;
    z-index: 1;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.menu-list.active {
    opacity: 1;
    transform: translateX(0);
}

.menu-item a {
    display: block;
    padding: 15px 0;
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    width: 100%;
    border-bottom: 1px solid #444;
}

.menu-item:last-child a {
    border-bottom: none;
}

@media (min-width: 768px) {

    .logo-mobile-item {
        display: none;
    }

    .hamburger-btn {
        display: none;
    }

    .menu-list {
        position: static;
        transform: translateX(0);
        height: auto;
        width: auto;
        background: none;

        flex-direction: row;
        gap: 20px;
        padding: 0;
    }

    .menu-item a {
        padding: 0;
        border-bottom: none;
    }
}