div,
h1,
h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.header {
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 20px;
    color: white;
    text-align: center;
    margin-top: -180px;
    margin-bottom: 50px;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.header.is-visible {
    opacity: 1;
    transform: translateY(0);
}

.card-list {
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 50px;
}

.customer-testimonial {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    text-align: center;
}

.customer-testimonial h1 {
    font-size: large;
}

@media(min-width: 768px) {

    .header {
        margin-bottom: 130px;
    }

    .customer-testimonial h1 {
        font-size: xx-large;
    }

}