.container {
    width: 90%;
    margin: 50px auto;
    overflow: hidden;
}

.wrapper {
    display: flex;
    align-items: center;
}

.item {
    flex: 0 0 50%;
    padding: 5px;
    box-sizing: border-box;
    text-align: center;
}

.wrapper.is-sliding {
    transition: transform 0.5s ease-in-out;
    transform: translateX(-50%);
}

.wrapper:not(.is-sliding) {
    transform: translateX(0);
    transition: none;
}

@media (min-width: 576px) {

    .item {
        flex: 0 0 33.3%;
    }

    .wrapper.is-sliding {
        transform: translateX(-33.3%);
    }
}

@media (min-width: 992px) {

    .item {
        flex: 0 0 25%;
    }

    .wrapper.is-sliding {
        transform: translateX(-25%);
    }
}